<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 not found</title>
    <style>

        div {
            margin: 0 auto;
            width: 400px;
            text-align: center;
            padding-top: 200px;
        }
        h1 {
            color: #888;
            margin-bottom: 60px;
            font-size: 60px;
        }

        p {
            color: #666;
            font-size: 28px;
            margin-bottom: 40px;
        }

        a {
            color: #222222;
            font-size: 30px;
        }
    </style>
</head>
<body>
    <div>
        <h1>ERROR 404</h1>
        <p>요청하신 페이지를 찾을 수 없습니다.</p>
        <a href="/">HOME</a>
    </div>
</body>
</html>