<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <style>

        .container {
            margin: 0 auto;
            max-width: 400px;
            padding-top: 100px;
        }

        h1 {
            font-size: 44px;
        }

        form {
            margin-top: 30px;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>로그인</h1>
        
        <form action="/login" method="POST">
            <button type="submit">login</button>
        </form>
        </div>
</body>
</html>